<div class="wrapper">

<app-statistic-header
  [costsMap]="costsMap"
  [monthName]="months[month]"
  [year]="year"
></app-statistic-header>

<app-table [costsMap]="costsMap" [costs]="costs"></app-table>

<app-edit-cost [costs]="costs" [month]="month" [year]="year"></app-edit-cost>

<app-pie-chart
  [pieChartData]="pieChartData"
  [pieChartType]="pieChartType"
  [pieChartLegend]="pieChartLegend"
  [pieChartPlugins]="pieChartPlugins"
  [pieChartOptions]="pieChartOptions"
  [pieChartLabels]="pieChartLabels"
  [showChart]="!!costsMap.get('total')"
></app-pie-chart>

</div>
