<div class="wrapper">

<app-statistic-header [costsMap]="costsMap" [month]="month" [year]="year"></app-statistic-header>

<app-table [costsMap]="costsMap" [costs]="costs"></app-table>

  <button mat-raised-button color="primary" class="add-button" (click)="openDialog()">
    <mat-icon class="add-icon">library_add</mat-icon>
    Добавить расходы
  </button>

<app-pie-chart
  [pieChartData]="pieChartData"
  [pieChartType]="pieChartType"
  [pieChartLegend]="pieChartLegend"
  [pieChartPlugins]="pieChartPlugins"
  [pieChartOptions]="pieChartOptions"
  [pieChartLabels]="pieChartLabels"
></app-pie-chart>

</div>
