<p>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>account_balance_wallet</mat-icon>
    </button>
    <span>Персональный финансовый менеджер</span>
    <span class="spacer"></span>
    <input class="date-input" [matDatepicker]="picker">
    <button mat-raised-button class="menu-button" (click)="openDatePicker(picker)">
      <mat-datepicker #picker startView="year" [startAt]="selectedDate" (monthSelected)="closeDatePicker($event, picker)"></mat-datepicker>
      <mat-icon>date_range</mat-icon>
      Выбрать месяц
    </button>
    <button mat-raised-button class="menu-button">
      <mat-icon> insert_chart</mat-icon>
      Сравнить месяцы
    </button>
  </mat-toolbar>
</p>
