<h4>Всего расходов: {{ costsMap.get('total') }} грн.</h4>
<div *ngIf="costs.length > 0; else elseBlock">
<table mat-table [dataSource]="costs" class="mat-elevation-z8">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Дата </th>
    <td mat-cell *matCellDef="let cost"> {{cost.date}} </td>
    <td mat-footer-cell *matFooterCellDef> Всего </td>
  </ng-container>

  <ng-container matColumnDef="flat">
    <th mat-header-cell *matHeaderCellDef> Квартира </th>
    <td mat-cell *matCellDef="let cost"> {{cost.flat}} </td>
    <td mat-footer-cell *matFooterCellDef> {{ costsMap.get('flat') }} </td>
  </ng-container>

  <ng-container matColumnDef="food">
    <th mat-header-cell *matHeaderCellDef> Еда </th>
    <td mat-cell *matCellDef="let cost"> {{cost.food}} </td>
    <td mat-footer-cell *matFooterCellDef> {{ costsMap.get('food') }} </td>
  </ng-container>

  <ng-container matColumnDef="dress">
    <th mat-header-cell *matHeaderCellDef> Одежда </th>
    <td mat-cell *matCellDef="let cost"> {{cost.dress}} </td>
    <td mat-footer-cell *matFooterCellDef> {{ costsMap.get('dress') }} </td>
  </ng-container>

  <ng-container matColumnDef="medicine">
    <th mat-header-cell *matHeaderCellDef> Медицина </th>
    <td mat-cell *matCellDef="let cost"> {{cost.medicine}} </td>
    <td mat-footer-cell *matFooterCellDef> {{ costsMap.get('medicine') }} </td>
  </ng-container>

  <ng-container matColumnDef="toys">
    <th mat-header-cell *matHeaderCellDef> Игрушки, развлечения </th>
    <td mat-cell *matCellDef="let cost"> {{cost.toys}} </td>
    <td mat-footer-cell *matFooterCellDef> {{ costsMap.get('toys') }} </td>
  </ng-container>

  <ng-container matColumnDef="other">
    <th mat-header-cell *matHeaderCellDef> Другое </th>
    <td mat-cell *matCellDef="let cost"> {{cost.other}} </td>
    <td mat-footer-cell *matFooterCellDef> {{ costsMap.get('other') }} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Комментарии </th>
    <td mat-cell *matCellDef="let cost"> {{ cost.comment }} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
</div>
<ng-template #elseBlock>В этом месяце не было затрат</ng-template>
