.edit-form {
  label {
    margin-left: 50px;
    font-size: 16px;
  }

  .form-line {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    div {
      margin-right: 55px;

      input {
        width: 100px;
      }

      textarea {
        width: 130px;
      }
    }
  }
}

.action-block {
  margin-right: 85px;
}

.date-input {
  visibility: hidden;
  width: 0;
}

.spacer {
  flex: 1 1 auto;
}

.delete-text {
  margin-left: 20px;
  font-size: 16px;
}

.bottom-toolbar {
  margin-top: 30px;
}

::ng-deep .mat-calendar-header,
::ng-deep .mat-calendar-body-label {
  display: none;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  height: 100% !important;
}
